h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 75px;
}
h2 {
    text-align: center;
    font-size: 25px;
}
h6 {
    text-align: center;
}
